@model FrontMVC.Models.Prato.PratoModel

@{
    ViewData["Title"] = "Adicionar";
}
<div class="container" align="center">
    <div class="col-md-6">
        <div>
            <h1>Adicionar Prato</h1>
        </div>
    </div>
    <hr />
    <div class="col-md-6">
        <div class="row" align="center">
            <form asp-action="Adicionar" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" data-val="true" data-val-required="Por favor, insira uma descrição" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FotoBase" class="control-label"></label>
                    <input asp-for="FotoBase" class="form-control" type="file" data-val="true" data-val-required="Por favor, selecione uma imagem" />
                    <span asp-validation-for="FotoBase" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Valor" class="control-label"></label>
                    @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control money" } })
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input type="hidden" asp-for="Status" value="false" />
                    <button type="button" class="btn btn-sm btn-secondary btn-toggle" data-toggle="button"
                            aria-pressed="false" autocomplete="off">
                        <div class="handle"></div>
                    </button>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>

            var button = document.querySelector('.btn-toggle');
            var hiddenInput = document.querySelector('input[type=hidden]');

            button.addEventListener('click', function () {
                var pressed = button.getAttribute('aria-pressed') === 'true';
                button.setAttribute('aria-pressed', !pressed);
                hiddenInput.value = !pressed;
            });

        </script>

    }
}
